# backend/.env
# ─── Database ───────────────────────────────
POSTGRES_USER=laptopuser
POSTGRES_PASSWORD=xxxxxxxxxxxx
POSTGRES_DB=laptopstore
DATABASE_URL=postgresql://laptopuser:xxxxxxxxxxxx@db:5432/laptopstore

# Used by Alembic running locally in your venv
# LOCAL_DATABASE_URL=postgresql://laptopuser:chinedu258@localhost:5432/laptopstore

# ─── JWT / Security ─────────────────────────
SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxx
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# ─── Email (Resend or SendGrid — fill in Phase 2) ─────
EMAIL_PROVIDER=mailersend
# RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxx
# FROM_EMAIL=noreply@yourdomain.com

MAILERSEND_API_KEY=mlsn.xxxxxxxxxxxx
FROM_EMAIL=noreply@yourdomain.com
FROM_NAME=Laptop Store

# ─── Cloudinary (fill in when doing products) ──
CLOUDINARY_CLOUD_NAME=xxxxxxxxxxxx
CLOUDINARY_API_KEY=xxxxxxxxxxxx
CLOUDINARY_API_SECRET=xxxxxxxxxxxx

# ─── Stripe (fill in during checkout phase) ────
# STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxx
# STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxx


# Add:
PAYSTACK_SECRET_KEY=sk_test_xxxxxxxxxxxx
PAYSTACK_PUBLIC_KEY=pk_test_fxxxxxxxxxxxx
PAYSTACK_WEBHOOK_SECRET=sk_test_xxxxxxxxxxxx

# ─── Redis ─────────────────────────────────────
REDIS_URL=redis://redis:6379

# ─── App ───────────────────────────────────────
ENVIRONMENT=development
FRONTEND_URL=http://localhost:3000